@model DSchedule.Contracts.Models.JobMonitor

@*<div style="height:100%; width:100%" class="detailssection">*@
    @*<h3>Session Details : </h3>
    @using (Html.BeginForm("UpdateUProcStatusForSession", "JobMonitor", FormMethod.Post, new { transaction = Model }))*@
    @*{*@
        @*@Html.HiddenFor(model => model.UprocID)
        @Html.HiddenFor(model => model.SessionID)*@
        @*<table style="height:240px; width:100%">*@
            @*<tr style="height:15%">
                    <td align="left" width="20%">
                        @Html.Label("UProc Name : ")
                    </td>
                    <td align="left" style="color:black;">
                        @Model.UprocName.ToString()
                    </td>
                </tr>*@
            @*<tr style="height:15%">
                    <td align="left" width="20%">
                        @Html.Label("Session Name : ")
                    </td>
                    <td align="left" style="color:black;">
                        @Model.SessionName.ToString()
                    </td>
                </tr>*@
            @*<tr style="height:15%">
                <td align="left" width="20%">
                    @Html.Label("UProc Status : ")
                </td>
                <td align="left" style="color:black;">
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.UProcStatus,
                                                 (SelectList)ViewBag.JobActionTypes, new { style = "width:13em; height:2.5em" })
                    </div>
                </td>
            </tr>
            <tr style="height:55%">
                <td align="center">
                    <input name="btnUpdate" type="submit" value="UPDATE" />
                </td>
            </tr>*@
        @*</table>*@
    @*}*@
@*</div>*@

@using (Html.BeginForm("UpdateUProcStatusForSession", "JobMonitor", FormMethod.Post, new { transaction = Model }))
{
    @Html.HiddenFor(model => model.UprocID)
    @Html.HiddenFor(model => model.SessionID)
    <div class="container-fluid">
        <div class="row">
            
            <br />
            <br />
            <div class="form-group">
                <label for="ddlUprocStatus" class="col-md-4" style="margin-top:7px">Uproc Status:</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => Model.UProcStatus, (List<SelectListItem>)ViewBag.JobActionTypes, new { @Class = "form-control col-md-5" })
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            
        </div>
        
        <div class="row">
            <input name="btnUpdate" type="submit" class="btn btn-primary col-md-offset-5 col-md-4" value="UPDATE" />
        </div>
        <div class="row">
            <br />
        </div>
    </div>
}